.App {
  text-align: center;
  padding: 20px;
  color: #000;
}

input {
  padding: 10px;
  width: 600px;
  margin-right: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.result {
  margin-top: 20px;
}

.spam p{
  color: red;
}
.ham p{
  color: green;
}
/* .result p { 
  font-weight: bold;
  font-size: 18px;
}*/

h1{
  color: aliceblue;
}